


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#app {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin:20px;
}

.data_inline li {
  display:inline-block;
  margin-top: 10px;
     
}


li {
  margin: 20px;
  padding:20px;
  width: 100%;
}

li { background:lightblue; }
li:nth-child(odd) { background: #fff;}

.listofauthor {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  background-color: #f4f4f4;
  

}
 
.listofauthor ul img {
  border-radius: 50%;
  width:20px;
   height:20px;
}

.listofauthor span {
  position: relative;
    bottom: 5px;
    color: red;
    font-size: 13px;
}

.listofauthor label {
  position: relative;
    bottom: 5px;
    /* color: red; */
    font-size: 13px;
    /* float: center; */
}

.posting_data {
  display: flex;
  flex-direction: row;
}

#data-post p{
  display: flex;
  flex-direction: row;
  font-size: 13px;

}

#data-post img {
  width:200px;
  height: 170px;
}

#data-post p span{
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  position: relative;
  bottom: 18px;
}

#data-post p span p {
  position:relative;
  bottom: 20px;
}




